<div *ngIf="model" class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="breadcrumb">
                <project-in-company [project-id]="projectId"></project-in-company>
                <span> > </span>
                <a class="breadcrumb-item" [routerLink]="['/projects/' + projectId + '/companies']">Компании</a>
                <span> > </span>
                <a class="breadcrumb-item" [routerLink]="['/projects/' + projectId + '/companies/' + companyId]">{{model.Name}}</a>
            </nav>
        </div>
        <div class="center-block text-center">
            <h3>Дополнительная информация о компании</h3>
        </div>
    </div>
    <form #createForm="ngForm" (ngSubmit)="onSubmit()" novalidate class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Название компании</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Название компании"
                       required
                       id="name"
                       name="name"
                       [(ngModel)]="model.Name">
            </div>
        </div>
        
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Резидент РФ</label>
            <div class="col-sm-8">
                    <input type="checkbox"
                           class="checkbox-inline"
                           placeholder="Резидент РФ"
                           id="isResident"
                           name="isResident"
                           [(ngModel)]="model.IsResident">
            </div>
        </div>
        <!--<div class="form-group">
            <label for="name" class="col-sm-4 control-label">Номер иностранной компании</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Номер иностранной компании"
                       required
                       id="number"
                       name="number"
                       [(ngModel)]="model.ForeignCompany.Number">
            </div>
        </div>-->
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Полное наименование в латинской транскрипции</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Полное наименование в латинской транскрипции"
                       required
                       id="foreignCompanyName"
                       name="foreignCompanyName"
                       [(ngModel)]="model.ForeignCompany.Name">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Полное наименование в русской транскрипции</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Полное наименование в русской транскрипции"
                       required
                       id="fullName"
                       name="fullName"
                       [(ngModel)]="model.ForeignCompany.FullName">
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-sm-4 control-label">Cтрана, в которой учреждена иностранная компания</label>
            <div class="col-sm-8">
                <select class="form-control" 
                        directory-options="CountryCode"
                        [(ngModel)]="model.ForeignCompany.CountryCodeId" id="code" name="code" required>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Регистрационный номер в стране регистрации</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Регистрационный номер в стране регистрации"
                       required
                       id="registrationNumber"
                       name="registrationNumber"
                       [(ngModel)]="model.ForeignCompany.RegistrationNumber">
            </div>
        </div>
        <div class="form-group">
            <label for="taxCode" class="col-sm-4 control-label">Код налогоплательщика в стране регистрации или аналог</label>
            <div class="col-sm-8">
                <select class="form-control" 
                        directory-options="TaxPayerCode"
                        [(ngModel)]="model.ForeignCompany.TaxPayerCodeId" id="taxCode" name="taxCode">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Адрес в стране регистрации</label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       placeholder="Адрес в стране регистрации"
                       required
                       id="address"
                       name="address"
                       [(ngModel)]="model.ForeignCompany.Address">
            </div>
        </div>
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Подтверждающие документы</label>
			<div class="col-sm-5">
				<input type="checkbox" [required]="null"
					   class="checkbox-inline"
					   id="isDocAttached"
					   name="isDocAttached"
					   [(ngModel)]="isDocAttached">
			</div>
		</div>
		<div [hidden]="!isDocAttached">
			<div class="form-group">
				<label for="fileYear" class="col-sm-4 control-label">Отчетный год </label>
				<div class="col-sm-5">
					<input type="text" maxlength="9"
						   class="form-control" [required]="null"
						   required
						   id="fileYear"
						   name="fileYear"
						   [(ngModel)]="fileYear">
				</div>
			</div>
			<div class="form-group">
				<label for="isUU" class="col-sm-4 control-label"> Уведомления об участии </label>
				<input type="checkbox" [required]="null"
					   class="checkbox-inline"
					   id="isUU"
					   name="isUU"
					   [(ngModel)]="isUU">
			</div>
			<div class="form-group">
				<label for="isUKIK" class="col-sm-4 control-label"> Уведомления о КИКах</label>
				<input type="checkbox" [required]="null"
					   class="checkbox-inline"
					   id="isUKIK"
					   name="isUKIK"
					   [(ngModel)]="isUKIK">
			</div>
			<div class="form-group" [hidden]="!isUKIK">
				<label for="isUKIK" class="col-sm-4 control-label"> Тип документа уведомления о КИКахх</label>
				<div class="col-sm-5">
					<select class="form-control" id="UKIKDocType" [required]="null"
							name="UKIKDocType" [(ngModel)]="UKIKDocType">
						<option>ПД для освобождения КИК</option>
						<option>Прочие ПД</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="isND" class="col-sm-4 control-label">  Налоговые декларации</label>
				<input type="checkbox" [required]="null"
					   class="checkbox-inline"
					   id="isND"
					   name="isND"
					   [(ngModel)]="isND">
			</div>
			<div class="form-group">
				<label for="fileYear" class="col-sm-4 control-label"> Прикрепить документ</label>
				<div class="col-sm-5">
					<input type="file" (change)="uploadFile($event)" id="fileAttached" [required]="null"
						   name="fileAttached">
				</div>
			</div>
		</div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" [disabled]="!createForm.form.valid" class="btn btn-default">Сохранить</button>
            </div>
        </div>
    </form>
</div>

<preloader *ngIf="isLoading"></preloader>

