<div *ngIf="company" class="container">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-12">
            <nav class="breadcrumb">
                <project-in-company [project-id]="projectId"></project-in-company>
                <span> > </span>
                <a class="breadcrumb-item" [routerLink]="['/projects/' + projectId + '/companies']">Компании</a>
            </nav>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
            <div class="center-block">
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" [routerLink]="['/projects/' + projectId + '/companies/' + companyId]">Информация</a>
                <a class="list-group-item active">Владения</a>
                <a class="list-group-item" [routerLink]="['/projects/' + projectId + '/companies/' + companyId + '/kiklist']">КИКи</a>
                <a class="list-group-item" [routerLink]="['/projects/' + projectId + '/companies/' + companyId + '/signatories']">Подписанты</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div>
            <div class="">          
                <h3 class="media-heading">
                    Прямые владения
                    <button type="button" class="btn btn-default" [routerLink]="['/projects/' + projectId + '/companies/' + companyId + '/share/create']">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </h3>    
            </div>
               
                <div class="row" *ngIf="shareList?.length">
                    <div class="col-sm-12">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Статус</th>
                                    <th>Владение</th>
                                    <th>Период</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let companyshare of shareList; let companyIndex = index">
                                    <td>
                                        <a [routerLink]="['/projects/' + projectId + '/companies/' + companyshare.DependentProjectCompany.Id]">{{companyshare.DependentProjectCompany.Name}}</a>                                        
                                    </td>
                                    <td>
                                        {{companyshare.DependentProjectCompany.StateName}}
                                    </td>
                                    <td>
                                        {{companyshare.SharePart}}%
                                    </td>
                                    <td>
                                        <span *ngIf="companyshare.ShareFinishDate">
                                            {{companyshare.ShareStartDate| date: 'dd.MM.yyyy'}} &mdash; {{companyshare.ShareFinishDate | date: 'dd.MM.yyyy'}}
                                        </span>
                                        <span *ngIf="!companyshare.ShareFinishDate">
                                            {{companyshare.ShareStartDate| date: 'dd.MM.yyyy'}} &mdash; наст.&nbsp;время
                                        </span>

                                    </td>
                                    <td>
                                        <button [routerLink]="['/projects/' + projectId + '/companies/' + companyId + '/share/' + companyshare.Id + '/edit']" type="button" class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>

            <p>&nbsp;</p>
            <div>
                <div class="">
                    <h3 class="media-heading">
                        Все владения
                        &nbsp;
                        <!--<input type="date"
                               placeholder="На дату"    
                               [(ngModel)]="factDate"
                               (change)="loadFactShare()"                           
                               >-->

                        <input 
                               class="date date-picker"
                               placeholder="На дату"
                               [(date)]="factDate"
                               (dateChange)="loadFactShare()"
                               >

                    </h3>
                </div>

                <div class="row" *ngIf="shareList?.length">
                    <div class="col-sm-12">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Статус</th>
                                    <th class="text-right">Прямое владение</th>
                                    <th class="text-right">Косвенное</th>
                                    <th class="text-right">Полное</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let companyshare of factShares; let companyIndex = index">
                                    <td>
                                        <a [routerLink]="['/projects/' + projectId + '/companies/' + companyshare.DependentProjectCompany.Id]">{{companyshare.DependentProjectCompany.Name}}</a>                                        
                                    </td>
                                    <td>
                                        {{companyshare.DependentProjectCompany.StateName}}
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="companyshare.ShareDirectPart > 0">{{companyshare.ShareDirectPart | number : '1.2-2' }}%</span>                                        
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="companyshare.ShareIndirectPart > 0">{{companyshare.ShareIndirectPart | number : '1.2-2' }}%</span>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="companyshare.ShareFactPart > 0">{{companyshare.ShareFactPart | number : '1.2-2' }}%</span>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<preloader *ngIf="isLoading"></preloader>